# ========================================
# SERVER CONFIGURATION
# ========================================
SERVER_PORT=8091
APP_ENV=development

# ========================================
# INFRASTRUCTURE CONFIGURATION
# ========================================

# MySQL Database
BOOKING_MYSQL_HOST=booking-mysql
BOOKING_MYSQL_PORT=3306
BOOKING_MYSQL_USER=quicket_booking
BOOKING_MYSQL_PASSWORD=bookingSecret
BOOKING_MYSQL_DB_NAME=quicket_booking_service
BOOKING_MYSQL_CHARSET=utf8mb4
DB_CONNECTION_MIGRATION=mysql://quicket_booking:password@tcp(booking_mysql:3306)/db_name

# Redis Database
REDIS_HOST=quicket-redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1

# JWT Config
JWT_SECRET=your_secret
JWT_ISSUER=quicket
JWT_EXPIRY=6h

# Logging config
LOG_LEVEL=debug
LOG_PRETTY=true

# Client services
BOOKING_SERVICE_URL=http://quicket-user-api:8081
USER_SERVICE_URL=http://quicket-user-api:8081

# RabbitMQ config
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST="/"
RABBITMQ_BOOKING_EXCHANGE="/booking"